blog/.vs/*
blog/blog/bin/*
blog/blog/obj/*
blog/blog.identity/bin/*
blog/blog.identity/obj/*
blog/blog.models/bin/*
blog/blog.models/obj/*
blog/blog.repository/bin/*
blog/blog.repository/obj/*
blog/blog.services/obj/*
blog/blog.services/bin/*
blog/blog/dist/*
